#reviews{
    margin-top: 30px;

}

#submit{
    margin-left: 10px;
}

.MuiRating-root{
    margin-left: 400px;
}

#card-review{
    margin-top: 15px;
}

#edit{
    margin-left: 100px;
    margin-bottom: 5px;
}