#navbar a{
  color: white;
}


.lighter-text {
    color: #1c1d1d;
  }
  
  nav {
    padding: 15px 0 0 0;
    background: #2415f3;
    font-size: 16px;
  }
    .navbar-left {
      float: left;
    }
  
    .navbar-right {
      float: right;
    }
    
    ul li{
        display: inline;
        padding-left: 20px;
    }

    ul li a{
        color:#dad4d4;
        text-decoration: none;
    }

    ul li a:hover{
        color:black;
    }
  
  .container {
    margin: auto;
    width: 80%;
  }

  .navbar-right{
    margin-top: 5px;
  }

  .fa-gamepad{
    margin-right: 5px;
  }

  .badge {
    background-color: #6394f8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .shopping-cart {
    background: white;
    width: 320px;
    position: absolute;
    top: 40px;
    right: 10px;
    border-radius: 3px;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)!important;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    opacity: 1;
    -webkit-transform-origin: right top 0;
    -webkit-transform: scale(1);
    transform-origin: right top 0;
    transform: scale(1);
  }
    .shopping-cart-header {
      border-bottom: 1px solid #e8e8e8;
      padding-bottom: 15px;
    }
      .shopping-cart-total {
        float: right;
      }
    
  
    .shopping-cart-items {
      padding-top: 20px;
    }
      .shopping-cart-items li {
        margin-bottom: 18px;
      }
  
      .shopping-cart-items img {
        float: left;
        margin-right: 12px;
      }
  
      .item-name {
        display: block;
        padding-top: 10px;
        font-size: 16px;
      }
  
      .item-price {
        color: #6394f8;
        margin-left: 20px;
      }
  
      .item-quantity {
        color: #676d7e;
        margin-left: 35px;
      }

      .shopping-cart-items img{
          max-width: 35% ;
          height: auto;
      }
    
  
  
  .shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
  }
  
  .cart-icon {
    color: #f71414;
    font-size: 24px;
    margin-right: 7px;
    float: left;
  }
  
  .button {
    background: #6394f8;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
  }
    .button:hover {
      background: lighten(#6394f8, 3%);
    }
  
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .dropbtn {
    background-color:  transparent;
    color: #ffffff;
    height: 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    max-width: 160px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    position: absolute;
    background-color: #1e00a4;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 98;
    max-height: 0;
    min-width: 160px;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
  }
  
  .dropdown-content a {
    color: rgb(246, 246, 246);
    background-color: #606061;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: transparent;
  }
  
  .dropdown:hover .dropdown-content {
    max-height: 500px;
    min-width: 160px;
    transition: max-height 0.25s ease-in;
  }
  
  .dropdown:hover .dropbtn {
    background-color: transparent;
    border-bottom: 1px solid #e0e0e0;
    transition: max-height 0.25s ease-in;
  }
  